/* @import url("whitespace-reset.css"); */

html {
  font: 400 20px "Nunito Sans", Helvetica, Arial, sans-serif;
}
body {
  background: #2e2840 url("bg_body.gif");
  padding: 75px 0 50px 0;
}

header,
main,
footer {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  padding: 50px 0;
  text-align: center;
}

main {
  padding: 100px 0 70px;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
}

article {
  padding: 0 90px 0;
  margin-bottom: 150px;
}

article + article {
  margin-bottom: -5px;
}

h2 {
  text-align: center;
  font-size: 36px;
}

h3 {
  font-size: 24px;
  color: #3e98b2;
}

footer {
  background-color: #e7e7e7;
  padding: 30px 0;
}

footer ul {
  margin: 0;
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  padding: 0 60px;
}
