<html>
  <title>Contact Lists</title>
  <link href="/contacts.css" rel="stylesheet" type="text/css">

  <body>
    <h1>Current User's Contact Lists</h1>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield_content :header_links %>

    <%= yield %>
  </body>
</html>
