<form action="/contacts/create" method="post">
  <div>
    <label for="group">Group name: </label>
    <input name="group" id="group" type="text" placeholder="group name">
  </div>

  <div>
    <label for="name">Person name: </label>
    <input name="name" id="name" type="text" placeholder="person name">
  </div>
  <button type="submit">Create Contact</button>
</form>
