<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new todo list name:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" value="">
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>
