<html>
  <title>CMS</title>
  <link href="/cms.css" rel="stylesheet" type="text/css">
  <body>
    <%= yield %>
    <p>There are <%= @users.size %> users with a total of <%= count_interests %> inteterests</p>
  </body>
</html>
