@import url("whitespace-reset.css");

body {
  padding: 135px 0 0 0;
  background: #2f2840 url(images/bg_body.gif) 50% 0 repeat;
  text-align: center;
  font: normal 20px Nunito, Helvetica, Arial, sans-serif;
  color: #45494d;
  width: 1200px;
}

/* header, */
/* main, */
/* footer { */
/*   width: 1200px; */
/* } */

header h1 {
  padding-bottom: 115px;
}

nav {
  padding: 0 0 40px 0;
  font-size: 26px;
  text-transform: uppercase;
}

nav li {
  display: inline;
  padding: 0 42px;
}

nav a {
  text-decoration: none;
  color: #cacaca;
}

nav a.active {
  color: #6db9ff;
  font-weight: bold;
}

main {
  padding: 100px 0 0 0;
  background: #fff;
}

.column {
  width: 1000px;
  margin: 0 auto;
}

h2 {
  padding: 0 0 40px 0;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

h2:before,
h2:after {
  display: inline-block;
  padding: 0 24px;
  content: "\2022";
  font-size: 22px;
  vertical-align: 5px;
}

h3 {
  padding: 0 0 20px 0;
  font-size: 24px;
  color: #3e59b2;
}

article {
  padding: 0 0 75px 0;
}

article p {
  padding: 0 110px;
}

#projects figure {
  padding: 0 0 55px 0;
}

#projects figure img {
  display: block;
}

footer {
  background: #e7e7e7;
  padding: 80px 0;
  color: #b1b1b1;
}

footer p {
  padding: 0 0 35px 0;
}

footer li {
  display: inline-block;
  padding: 0 62px;
}

footer li a {
  display: block;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("images/icons_social-media.png");
}

footer li a.facebook {
  background-position: 0 -46px;
}
footer li a.email {
  background-position: 0 -92px;
}
footer li a.instagram {
  background-position: 0 -138px;
}

#team p {
  padding: 0 120px 120px 120px;
}

#team ul {
  padding-bottom: 225px;
  outline: 1px solid red;
}
#team li {
  display: inline-block;
  padding: 0 30px;
  font-size: 24px;
}

#team li img {
  display: block;
  margin-bottom: 25px;
}

#team li a {
  color: #3e59b2;
  text-decoration: none;
}
