<form action="/users/signin" method="post">
  <div>
    <label for="username">Username:
      <input name="username" type="text">
    </label>
  </div>
  <div>
    <label for "password">Password:
    <input name="password" type="text">
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>
